#top{
width:50%
padding-left:10%;
border-style:solid;
border-color:red;
margin-left:30%;
}
#bottom{
border-style:solid;
border-color:red;
margin-top:50%;
width:50%;
margin-left:30%;
padding-left:10%;
}