h1{
font-family: 'Work Sans', sans-serif;
font-size:500;
}

table{
margin-left:10%;
}
td{
border-style:solid;
border-color:red;
height:500px;
padding:50px;
}
#one{
background-color:cornflowerblue;
}
#two{
background-color:aquamarine;
}
#three{
background-color:rgb(149, 196, 176);
}
#four{
background-color:rgb(255, 246, 148);
}
#five{
background-color:rgb(245, 66, 96);
}